# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 # Objectives:
 #### Some of the popular languages that Data Scientists use. 
 #### Some of the Commonly used libraries used by Data Scientists 
 #### Below are a few examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: 
   #### 1. Python
   #### 2. R
   #### 3. Julia
   #### 4. Ruby
   #### 5. C/C++

### Some of the commonly used libraries used by Data Scientists include: 

### 1. ggplot2
### 2. plotly
### 3. pandas
### 4. numpy
### 5. seaborn
### 6. leaflet

| Data Science Tools | 
|--------------------|
| 1. R-Studio.       |
| 2. Anaconda.       |
| 3. Jupyter Notebook|
| 4. Spyder.         |

### Below are a few examples of arithmetic expressions in Python

In [2]:
# This is simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
#  This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

### Darry Coverson